.article2 {
  position: relative;
  margin: 0 auto;
  padding: 9rem 0 1rem 0;
  max-width: 120rem;
  height: 45rem;

  @media (max-width: 750px) {
    padding: 0;
    max-width: 23.4375rem;
    height: auto;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding-right: 0.5rem;
    height: 100%;
    border-right: 0.0625rem  solid #D9D9D9;

    @media (max-width: 750px) {
      margin: 2rem 0;
      padding-right: 0;
      height: auto;
      border: none;
    }
  }

  &__item:nth-child(4) {
    padding-right: 0;
    border: none;
  }

  .article2__item-img {
    margin-bottom: 0.8rem;
    width: 19.5rem;
    height: 9.125rem;
    border-radius: 0.125rem;
  }

  &__item:nth-child(1) .article2__item-img {
    background: url(../../img/articles/art2-img-1.png) no-repeat;
    background-size: contain;
  }

  &__item:nth-child(2) .article2__item-img {
    background: url(../../img/articles/art2-img-2.png) no-repeat;
    background-size: contain;
  }

  &__item:nth-child(3) .article2__item-img {
    background: url(../../img/articles/art2-img-3.png) no-repeat;
    background-size: contain;
  }

  &__item:nth-child(4) .article2__item-img {
    background: url(../../img/articles/art2-img-4.png) no-repeat;
    background-size: contain;
  }

}

.article2 .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;

  @media (max-width: 750px) {
    grid-template-columns: 1fr;
  }
}

