.article10 {
  position: relative;
  margin: 0 auto;
  padding: 9rem 0 1rem 0;
  max-width: 120rem;
  height: 67rem;

  @media (max-width: 750px) {
    padding: 3rem 0 1rem 0;
    max-width: 23.4375rem;
    height: 90rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    @media (max-width: 750px) {
      padding-right: 0;
      height: auto;
      border: none;
    }
  }

  .article10__item-img {
    margin-bottom: 2.48rem;
    width: 31.25rem;
    height: 37.33081rem;
    border-radius: 0.125rem;

    @media (max-width: 750px) {
      width: 100%;
      height: 25.586rem;
    }
  }

  &__item:nth-child(1) .article10__item-img {
    background: url(../../img/articles/art10-img-1.png) no-repeat;
    background-size: contain;
  }

  &__item:nth-child(2) .article10__item-img {
    background: url(../../img/articles/art10-img-2.png) no-repeat;
    background-size: contain;
  }
}

.article10 .container {
  display: grid;
  grid-template-columns: repeat(2, 31.25rem);
  gap: 7.9rem;
  justify-content: center;

  @media (max-width: 750px) {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

