.info {
  position: relative;
  margin: 0 auto;
  padding: 1.5rem 0;
  max-width: 120rem;
  height: 80rem;

  @media (max-width: 750px) {
    max-width: 23.4375rem;
    height: 116rem
  }

  &__item {

  }

  &__item-title {
    margin-bottom: 3.46rem;
    color: #25272D;
    line-height: 141.25%;

    @media (max-width: 750px) {
      margin-bottom: 2rem;
      text-align: center;
    }
  }

  &__item-text {
    color: #8f9397;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media (max-width: 750px) {
      font-size: 1rem;
    }
  }

  &__item:nth-child(1) {
    margin-bottom: 32rem;

    @media (max-width: 750px) {
      margin-bottom: 3rem;
    }
  }

  &__item:nth-child(2) {
    position: absolute;
    top: 8rem;
    right: 2rem;
    display: grid;
    grid-template-columns: 25rem  1fr;
    gap: 2.7rem;

    @media (max-width: 750px) {
      position: relative;
      grid-template-columns: 1fr;
      gap: 1.7rem;
      margin-bottom: 4rem;
      top: 0;
      right: 0;
    }
  }

  &__item:nth-child(3) {
    position: absolute;
    display: grid;
    grid-template-columns: 6.39081rem 1fr;
    gap: 3rem 2rem;
    top: 30rem;
    left: 4rem;

    @media (max-width: 750px) {
      position: relative;
      grid-template-columns: 4rem 1fr;
      gap: 1rem 1rem;
      margin-bottom: 4rem;
      top: 0;
      left: 0;
    }
  }

  &__item:nth-child(4) {
    margin-left: 43rem;

    @media (max-width: 750px) {
      margin-left: 0rem;
    }
  }

  &__item-1 {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    width: 24.625rem;
    height: 5.46525rem;
    background: url(../../img/main/brand2.svg) no-repeat;
    background-size: cover;
    border-radius: 1.25rem;
    box-shadow: 0px 0px 28px 0px #adadad;

    @media (max-width: 750px) {
      align-self: center;
      width: 20rem;
      height: 4.4rem;
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }

  &__item-1::before {
    content: 'Брендинг территорий';
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #8f9397;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;

    @media (max-width: 750px) {
      font-size: 1rem;
    }
  }

  &__item-2 {
    position: relative;
    width: 25rem;
    height: 16.98638rem;
    background: url(../../img/main/rating.svg) no-repeat;
    background-size: contain;
    border-radius: 2rem;
    box-shadow: 0px 0px 28px 0px #adadad;

    @media (max-width: 750px) {
      width: 20rem;
      height: 13.6rem;
    }
  }

  &__item-2::before {
    content: 'Маркетинговые исследования';
    position: absolute;
    top: 1.8rem;
    left: 3.3rem;
    width: 15rem;
    color: #8f9397;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @media (max-width: 750px) {
      font-size: 1rem;
    }
  }

  &__item-3 {
    position: relative;
    justify-self: center;
    width: 11.6155rem;
    height: 12.84394rem;
    background: url(../../img/main/percent.svg) no-repeat;
    background-size: contain;
    border-radius: 2rem;
    box-shadow: 0px 0px 28px 0px #adadad;
  }

  &__item-3::before  {
    content: '56%';
    position: absolute;
    top: 43%;
    left: 54%;
    transform: translate(-50%, -50%);
    color: #8f9397;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
  }

  &__item-4 {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    padding: 3.35rem 0 0 7.28rem;
    width: 27.8125rem;
    height: 12.85994rem;
    color: #8f9397;
    font-family: 'Montserrat', sans-serif;
    background: url(../../img/main/smi.svg) no-repeat;
    background-size: cover;
    border-radius: 2rem;
    box-shadow: 0px 0px 28px 0px #adadad;

    @media (max-width: 750px) {
      padding: 2rem 0 0 5rem;
      width: 20rem;
      height: 9.3rem;
    }
  }

  &__item-4 span {
    color: #8f9397;
    font-size: 1rem;

    @media (max-width: 750px) {
      font-size: 0.75rem;
    }
  }

  &__item-4::before {
    content: '';
    position: absolute;
    top: 1.8rem;
    left: 3.3rem;
    width: 15rem;

  }

  &__item-5 {
    position: absolute;
    top: 10.8rem;
    left: -2.5rem;

    @media (max-width: 750px) {
      top: 6.8rem;
      left: -1.7rem;
    }
  }

  &__item-5 svg{
    @media (max-width: 750px) {
      width: 8rem;
      height: 19rem;
    }
  }

  &__item-6 {
    position: relative;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
    padding: 1.7rem 0 0 2rem;
    width: 19.37513rem;
    height: 15.15519rem;
    color: #8f9397;
    font-family: 'Montserrat', sans-serif;
    background: url(../../img/main/market.svg) no-repeat;
    background-size: contain;
    border-radius: 2rem;
    box-shadow: 0px 0px 28px 0px #adadad;

    @media (max-width: 750px) {
      justify-self: end;
      padding: 1rem 0 0 1.3rem;
      width: 13.5rem;
      height: 10.7rem;
    }
  }

  &__item-6 h3 {
    width: 10rem;
  }
}

.info  .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;

  @media (max-width: 750px) {
    align-items: center;
  }

}

