.news {
  position: relative;
  margin: 0 auto;
  padding: 4rem 0 1rem 0;
  max-width: 120rem;
  height: auto;

  @media (max-width: 750px) {
    padding: 1rem 0 1rem 0;
    max-width: 23.4375rem;
  }

  &__title {
    margin-bottom: 2rem;
    color: rgb(37, 39, 45);
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0%;
    text-align: center;

    @media (max-width: 750px) {
      margin-bottom: 1rem;
    }
  }

  //&__content {
  //  position: relative;
  //  display: grid;
  //  grid-template-columns: 1fr 1fr 1fr;
  //  gap: 1.250rem;
  //
  //  @media (max-width: 750px) {
  //    grid-template-columns: 1fr;
  //  }
  //}

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0.625rem;
    padding: 1.5rem;
    width: 26.44rem;
    //height: 28.31rem;
    height: 32rem;
    border-radius: 1.5rem;
    box-shadow: 0rem 0.94rem 2.81rem 0rem rgba(77, 62, 62, 0.29);
    background: rgb(255, 255, 255);

    @media (max-width: 750px) {
      width: 21.8rem;
    }
  }

  &__item-img {
    margin-bottom: 1.5rem;
    width: 100%;
    height: 16.31rem;
    box-sizing: border-box;
    border: 0.06rem solid rgb(218, 218, 218);
    border-radius: 1.5rem;
    overflow: hidden;
  }

  &__item-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin-bottom: 0.5rem;
    width: 100%;
    color: rgb(37, 39, 45);
    font-family: 'Oswald', sans-serif;
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 2rem;
    text-align: left;
  }

  &__item-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin-bottom: 0.5rem;
    color: rgb(93, 93, 93);
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: left;
  }

  &__item-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__item-details {
    color: rgb(0, 148, 255);
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    //text-align: left;
  }

  &__item-date {
    color: rgb(93, 93, 93);
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0%;
    //text-align: right;
  }

}

.news  .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.owl-carousel .owl-stage-outer {
  padding-top: 4rem;
  width: 81.5rem;
  height: 42rem;

  @media (max-width: 750px) {
    padding-top: 3rem;
    width: 23.4375rem;
  }
}

.owl-item .news__item-img {
  width: 100%;
  height: 16.31rem;
}

.owl-item:nth-child(1) .news__item-img {
  background: url(../../img/articles/art1-img-1.png) no-repeat;
  background-size: cover;
}

.owl-item:nth-child(2) .news__item-img {
  background: url(../../img/articles/art1-img-2.png) no-repeat;
  background-size: cover;
}

.owl-item:nth-child(3) .news__item-img {
  background: url(../../img/articles/art2-img-1.png) no-repeat;
  background-size: cover;
}

.owl-item:nth-child(4) .news__item-img {
  background: url(../../img/articles/art2-img-2.png) no-repeat;
  background-size: cover;
}

.owl-item:nth-child(5) .news__item-img {
  background: url(../../img/articles/art2-img-3.png) no-repeat;
  background-size: cover;
}

.owl-item:nth-child(6) .news__item-img {
  width: 23.44rem;
  height: 16.31rem;
  background: url(../../img/articles/art2-img-4.png) no-repeat;
  background-size: cover;
}

.owl-item:nth-child(7) .news__item-img {
  background: url(../../img/articles/art3-img-1.png) no-repeat;
  background-size: cover;
}

.owl-item:nth-child(8) .news__item-img {
  background: url(../../img/articles/art3-img-2.png) no-repeat;
  background-size: cover;
}

.owl-item:nth-child(9) .news__item-img {
  background: url(../../img/articles/art4-img-1.png) no-repeat;
  background-size: cover;
}

.owl-item:nth-child(10) .news__item-img {
  background: url(../../img/articles/art5-img-1.png) no-repeat;
  background-size: cover;
}

.owl-item:nth-child(11) .news__item-img {
  background: url(../../img/articles/art5-img-2.png) no-repeat;
  background-size: cover;
}

.owl-item:nth-child(12) .news__item-img {
  background: url(../../img/articles/art5-img-3.png) no-repeat;
  background-size: cover;
}

.owl-item:nth-child(13) .news__item-img {
  background: url(../../img/articles/art6-img-1.png) no-repeat;
  background-size: cover;
}

.owl-item:nth-child(14) .news__item-img {
  background: url(../../img/articles/art6-img-2.png) no-repeat;
  background-size: cover;
}

.owl-item:nth-child(15) .news__item-img {
  background: url(../../img/articles/art7-img-1.png) no-repeat;
  background-size: cover;
}


