.main {
  position: relative;
  margin: 0 auto;
  padding: 21rem 0 1rem 0;
  max-width: 120rem;
  height: 80rem;

  @media (max-width: 750px) {
    padding: 3rem 0 1rem 0;
    max-width: 23.4375rem;
    height: 33rem;
  }

  &__img {
    position: absolute;
    top: 15rem;
    right: 5rem;
    width: 22rem;
    height: 30rem;
    background: url(../../img/contacts/owl.svg) no-repeat;
    background-size: contain;
  }

  &__text {
    position: relative;
    margin-bottom: 1.6rem;
    width: 28.8rem;
    text-align: center;
    color: #E51F33;
    font-size: 1.6875rem;
    line-height: 115%;

    @media (max-width: 750px) {
      margin-bottom: 1rem;
      width: 80%;
      font-size: 0.825rem;
    }
  }

  &__text:nth-child(2) {
    margin-bottom: 14rem;
    right: 2rem;
    text-align: right;

    @media (max-width: 750px) {
      margin-bottom: 4rem;
      font-size: 0.825rem;
    }
  }

  &__text:nth-child(1)::before {
    content: '“';
    position: absolute;
    top: 1.5rem;
    left: -1rem;
    color: #E51F33;
    font-family: 'Oswald', sans-serif;
    font-size: 5.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10%;
    letter-spacing: -0.00906rem;

    @media (max-width: 750px) {
      top: 0.9rem;
      left: 1rem;
      font-size: 4rem;
    }
  }

  &__text:nth-child(1)::after {
    content: '”';
    position: absolute;
    top: 4.2rem;
    right: -1.8rem;
    color: #E51F33;
    font-family: 'Oswald', sans-serif;
    font-size: 5.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10%;
    letter-spacing: -0.00906rem;

    @media (max-width: 750px) {
      top: 2.5rem;
      right: 0.2rem;
      font-size: 4rem;
    }
  }

  &__tel {
    margin-bottom: 2rem;
    width: 100%;
    text-align: left;
    justify-self: start;
    color: #383744;
    font-size: 2rem;

    @media (max-width: 750px) {
      font-size: 1.5rem;
    }
  }

  &__contact-text {
    margin-bottom: 2rem;
    width: 100%;
    text-align: left;
    justify-self: start;
    color: #383744;
  }

  &__contact-telegram {
    position: relative;
    margin-bottom: 4rem;
    padding-left: 2rem;
    width: 100%;
    text-align: left;
    justify-self: start;
    color: #868686;
  }

  &__contact-telegram::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0rem;
    width: 1.6875rem;
    height: 1.6875rem;
    background: url(../../img/contacts/telegram.svg) no-repeat;
    background-size: contain;
  }
}

.main .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
